# Comprensión de los Datos

In [ ]:
Carga de datos con Pandas | Josué Santiago Aguiñaga Cázares | A00839729

In [ ]:
#importa librerías
import pandas as pd

# Descripción de Variables


Pclass Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd): Categórica Nominal 
survival Survival (0 = No; 1 = Yes)  
name Name  
sex Sex  
age Age  
sibsp Number of Siblings/Spouses Aboard  
parch Number of Parents/Children Aboard  
ticket Ticket Number  
fare Passenger Fare (British pound)  
cabin Cabin  
embarked Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton)  
boat Lifeboat  
body Body Identification Number  
home.dest Home/Destination

**Ejemplo:** Crear un objeto DataFrame con base en un archivo .csv

In [ ]:
#lee archivo csv
titanic = pd.read_csv("titanic.csv")

In [ ]:
#Usa función shape para revisar el total de renglones y columnas
titanic.shape

In [1]:
#Revisa los primeros 5 renglones del dataset usando la función head()
titanic.head()

In [3]:
#Revisa los últimos 5 renglones del dataset usando la función tail()
titanic.tail()

In [4]:
#Revisa la información mas completa del conjunto de datos usando la función info()
#Muestra el total de datos, las columnas y su tipo correspondiente, dice si contiene nulos o no
titanic.info()

In [5]:
#revisa cuántos valores únicos tiene cada atributo del archivo usando la función nunique()
titanic.nunique()

## Exploración de Datos

In [6]:
#utiliza la función describe() para obtener estadística básica. se puede incluir -0
titanic.describe()
# para que muestre todo:
titanic.describe(include="all")

In [7]:
#Revisa Valores nulos con funcion isnull().sum()
titanic.isnull().sum()

In [ ]:
#Revisar valores únicos por columna usando función unique(): nombre-columna.unique()
titanic["Embarked"].unique()
titanic["Pclass"].unique()

## Variables Cuantitativas

### Medidas de tendencia central

In [ ]:
#Edad
#Se puede obtener la media, mediana y moda para
mean_age = titanic['Age'].mean()
median_age =titanic['Age'].median()
mode_age = titanic['Age'].mode()
print("Mean_age:",mean_age)
print("Median_age:",median_age)
print("Mode_age:",mode_age).iat[0]

Mean_age: 29.69911764705882
Median_age: 28.0
Mode_age: 0    24.0
dtype: float64

Conclusiones:
La edad promedio fue 29
La edad al centro es 28
La edad más repetida fue de 24

# Variables Categóricas

In [9]:
#Para conteo  de cada valor en una columna, en orden descendente usar función value_counts():    
# nombreDataframe.columna.value_counts()
# nombreDataframe['columna'].value_counts()
titanic["Sex"].value_counts()

In [10]:
#Revisa conteo de varias columnas
titanic[["Pclass","Embarked","Sex"]].apply(pd.Series.value_counts)

In [13]:
# Crear variable familySize que incluya la suma de las columnas SibSp y Parch
# Mostrar el total por cada tamaño de familia
titanic["familySize"] = titanic["SibSp"] + titanic["Parch"]
titanic["familySize"].value_counts().sort_index()

## Consulta

In [15]:
# df.iloc[i]: Accede a la fila en la posición i.
# Acceder a la primera fila
titanic.iloc[0]

In [ ]:
# Acceder a las dos primeras filas
titanic.iloc[:2]

In [16]:
#Seleccionar columnas, indicando entre corchetes [nombreColumna, nombreColumna]
titanic[["Name","Age","Fare"]].head(3)

In [ ]:
#Selección de filas [indicar dataframe[columna] operador valor]
titanic[titanic["Age"] >= 18].head(5)

In [18]:
#ordenar usando funcion sort_values(by=atributo, ascending=True/false)
titanic.sort_values(by="Fare", ascending=False).head(10)

In [ ]:
#Agrupar por un atributo y calcular función de agregación utilizando groupby(atributo)['atributoAgregacion].funcion() (ej. mean() para promedio)
titanic.groupby("Pclass")["Fare"].mean().round(2)
titanic.groupby(["Pclass","Sex"])[["Survived","Age","Fare"]].mean().round(2)

Crea un subconjunto de **titanic** para el costo mayor a 500

In [19]:
# usa el criterio para extraer solo los boletos caros con fare > 50
titanic[titanic["Fare"] > 500]

In [ ]:
# Otras funciones
objetos   = len(titanic)           # filas
variables = titanic.shape[1]       # columnas
valor_var2_obj4 = titanic.iloc[3,1]  # objeto 4, variable 2
objetos, variables, valor_var2_obj4